/* 

Note
(R) = Root level styling
(C) = Component level styling
(P) = Page level styling

*/


/* (R) Root level styling */

* {
  box-sizing: border-box;
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

:root {
  background: linear-gradient(0deg, #67A175,  #163300);
  color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  padding: 0px;
}

.error-message {
  text-wrap: wrap;
  width: 300px;
  margin: 100px auto 0;
}

/* (C) InputSearch Component */

.input-outer-container {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 4%;
  height: 150px;
  width: 100%;
}

.input-container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 4%;
  height: 100px;
  width: 100%;
}

.input-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.1;
}

.input-field {
  width: 360px;
  height: 50px;
  padding-left:  20px;
  padding-right: 10px;
  border-radius: 18px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1; /* Firefox */
}

.pac-container {
  background-color: #ffffff;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 18px;
  opacity: 0.9;
  width: 360px;
  position: relative;
  top: 108px;
}

.pac-container-home {
  background-color: #ffffff;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 18px;
  opacity: 0.9;
  width: 360px;
  position: relative;
  top: -13px;
}

.pac-item,
.pac-item-query {
  color: #000000;
  height: 2.4em;
  font-size: 1em;
  width: 360px;
  list-style-type: none;
}

.pac-item:hover {
  background: #f4f4f4;
}
.pac-container:after {
  /* remove 'powered by Google' logo */
  background-image: none !important;
  height: 0px;
}

li.pac-item {
  border-radius: 18px;
  position: relative;
  left: -40px;
  padding-left: 15px;
}

/* (C) StaticMap Component */

.location-img {
  border-radius: 50%;
  width: 19rem;
  height: 19rem;
  position: relative;
  margin-top: 180px;
  background-color: #eeeeee7c; /* Light gray background */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* (P) Location page */

.searching{
  font-size: 1.6em;
  font-weight: 700 ;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}

.searching-2 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.location-proceed-btn {
  margin-top: 45px;
  margin-bottom: 10px;
  width: 240px;
  height: 60px;
  border-radius: 100px;
  border: none;
  background-color: #BF1E2C;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.use-my-location {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}

.geolocation-permission-denied {
  margin-top: -15px;
  width: 220px;
  font-size: 0.7em;
  text-align: center;
  font-style: italic;
  line-height: 14px;
}

/* (P) Quiz page */

.quiz-subtitle-1 {
  margin-top: -300px;
  position: absolute;
  font-weight: 300;
  font-size: 14px;
}

.quiz-cuisine-container {
  height: 360px;
  overflow-y: scroll;
  position: relative;
  top: 200px; 
  margin-bottom: 170px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;
}

.quiz-cuisine-container::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: None;
}

.quiz-cuisine-container {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input[type="radio"] {
  /* Hide default radio button */
  appearance: none;
  -webkit-appearance: none; /* For Safari */
  position: absolute;
  opacity: 0; /* Make it invisible */
  pointer-events: none; /* Prevent interaction with the hidden element */
}

.radio-label {
  background-color: #95A593;
  height: 60px;
  width: 340px;
  border-radius: 18px;
  padding-left: 20px;
  font-size: 1.8em;
  font-weight: 500;
  display: flex; /* Use flexbox for better alignment */
  justify-content: start;
  gap: 16px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

input[type="radio"]:checked + .radio-label {
  /* Style when checked */
  background-color: #ABC86C;
}

.radio-label:hover {
  /* Style on hover */
  background-color: #ABC86C;
}

.radio-label:focus-within {
  /* Optional focus styles (for accessibility) */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.quiz-subtitle-2 {
  margin-top: 540px;
  position: absolute;
  font-weight: 300;
  font-size: 14px;
}

.i-am-feeling-hungry{
  margin-top: 90px;
  margin-bottom: 10px;
  width: 240px;
  height: 60px;
  border-radius: 100px;
  border: none;
  background-color: #BF1E2C;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* (C) Horizontal Chevron */

.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  /* cursor: pointer; */
}

.left-chevron {
  position: fixed;
  top: 170px;
  left: 8px;
}

.right-chevron {
  position: fixed;
  top: 170px;
  right: 8px;
}

@media only screen and (min-width: 550px) {
  .left-chevron {
    visibility: hidden;
  }
  
  .right-chevron {
    visibility: hidden;
  }
}

.profile-chevron {
  top: 620px;
}

/* Hide chevrons when not needed */
.home-cuisine-container .chevron.hidden,
.profile-visited-scrollable .chevron.hidden {
  opacity: 0;
  pointer-events: none; /* Disable clicks when hidden */
}

/* Show/hide based on scroll position (using JavaScript) */
.home-cuisine-container.scrollable-left .left-chevron,
.profile-visited-scrollable.scrollable-left .left-chevron { 
  opacity: 1;
  pointer-events: auto; 
}
.home-cuisine-container.scrollable-right .right-chevron,
.profile-visited-scrollable.scrollable-right .right-chevron { 
  opacity: 1;
  pointer-events: auto; 
}
/* (P) Home page */

.home-location-link-container {
  position: relative;
  top: -0.6em;
  width: 350px;
}

.home-location-link {
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}

.home-cuisine-container {
  width: 360px;
  margin-left: 0;
  height: 70px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  margin-top: 63px; 
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 15px;
  white-space: nowrap;
}

.home-cuisine-container::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: None;
}

.home-cuisine-container {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.horizontal-radio-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.cuisine-img {
  width: 44px;
}

.horizontal-radio-label-desc {
  color: #ffffff;
  height: 10px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-top: 2px;
}

.home-filter-container {
  width: 360px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-header-container {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 5px;
}

.result-tag {
  font-weight: 400;
  font-size: 1em;
}

.map-button {
  background-color: #EDF1D6;
  color: #163300;
  width: 130px;
  height: 26px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* (C) Menu component */

.menu-button {
  background-color: #9FE870;
  color: #163300;
  width: 104px;
  height: 26px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
}

.menu-button:active {
  background-color: #edf1d69a
}

.menu-button:focus {
  outline: none;
}

.menu-dropdown {
  z-index: 1;
  position: fixed;
  left: 5%;
  top: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  background-color: #95A593;
  border: none;
  border-radius: 18px;
  width: 90%;
  opacity: 0.7;
}

@media only screen and (min-width: 850px) {
  .menu-dropdown {
    left: 37.5%;
    width: 25%;
  }
}

.menu-item {
  z-index: 1;
  color: #FFFFFF;
  padding: .75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 20px;
  font-weight: 600;
}

.reset-menu-item {
  background-color: #CD5534;
  border-radius: 0 0 18px 18px;
}

.menu-item:hover {
  background-color: #8DA656;
  border: 1px solid #6FBD6E;
  border-radius: 18px;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6B7280;
}

/* (C) SkeletonListing component */

.skeleton-listing {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.skeleton-image,
.skeleton-title,
.skeleton-line {
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #eeeeee7c; /* Light gray background */
  animation: skeleton-loading 0.6s linear infinite alternate; /* Animation */
}

.skeleton-image {
  width: 360px;
  height: 120px;
}

.skeleton-title {
  width: 340px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 18px;
  margin-bottom: 10px;
  padding-left: 0;
}

.skeleton-line {
  width: 265px;
  height: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* (C) CardsListing component */

.listing-container {
  width: 365px;
  height: calc(100vh * 0.6);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-container::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: None;
}

.listing-container {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.listing-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2px;
}

.listing-been-to-button {
  font-size: 35px;
  position: relative;
  top: -170px;
  left: 310px;
  width: 40px;
  height: 40px;
  background-color: #BF1E2C;
  border-radius: 18px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.listing-restaurant-photo {
  width: 360px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  background-color: #eeeeee7c; /* Light gray background */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.listing-desc {
  width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: -75px;
}

.listing-desc-text-1{
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: -16px;
}

.listing-desc-text-2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: -30px;
}

.listing-desc-text-3 {
  font-weight: 300;
}

.opening-green {
  color: rgb(0, 255, 0);
  font-weight: 300;
}

.closing-red {
  color: rgb(255, 0, 0);
  font-weight: 300;
}

.listing-see-more{
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: fixed;  
  bottom: 80px;  
  width: 200px;
  height: 45px;
  border-radius: 70px;
  border: none;
  background-color: #BF1E2C;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;          /* Initially hidden */
  transform: translateY(20px); /* Start slightly below its final position */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for opacity and position */
}

.listing-see-more.show {  /* Style when the button is shown */
  visibility: visible;
  opacity: 1 !important; 
  transform: translateY(0) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* (C) Cuisine Tag */

.listing-cuisine-tag {
  font-size: 12px;
  position: relative;
  top: -150px;
  left: 7px;
  width: 80px;
  height: 20px;
  background-color: #8DA656;
  border-radius: 18px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-cuisine-tag {
  font-size: 16px;
  position: relative;
  top: -250px;
  left: 10px;
  width: 120px;
  height: 30px;
  background-color: #8DA656;
  border-radius: 18px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-cuisine-tag {
  font-size: 12px;
  position: absolute;
  top: 25px;
  /* left: 10px; */
  width: 80px;
  height: 14px;
  background-color: #8DA656;
  border-radius: 18px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-cuisine-tag {
  font-size: 12px;
  position: absolute;
  top: 0px;
  width: 80px;
  height: 14px;
  background-color: #8DA656;
  border-radius: 18px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* (C) MapView component */

.mapview-container {
  width: 370px;
  height: 60vh;
}

.infowindow-container {
  margin-top: -20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 170px;
  color: #000000;
  overflow-y: hidden;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.infowindow-text-1{
  font-weight: 600;
  margin-bottom: -5px;
  text-align: left;
}

.infowindow-text-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -15px;
}

/* (P) Restaurant page */


.restaurant-desc {
  width: 360px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.restaurant-desc::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: None;
}

.restaurant-desc {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.restaurant-img-container {
  margin-bottom: -70px;
}

.restaurant-img {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 18px;
  background-color: #eeeeee7c; /* Light gray background */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.restaurant-been-to-button {
  font-size: 48px;
  position: relative;
  top: -70px;
  left: 290px;
  width: 50px;
  height: 50px;
  background-color: #BF1E2C;
  border-radius: 18px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.restaurant-text-1 {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.restaurant-text-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

.restaurant-text-3 {
  margin-top: -10px;
}

.restaurant-map-link {
  color: white;
}

.restaurant-buttons-container {
  display: flex;
  justify-content: space-around;
}

.restaurant-buttons {
  width: 170px;
  height: 22vh;
  border-radius: 25px;
  background-color: #163300;
  border: 3px solid #9FE870;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 800;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.restaurant-map {
  margin-top: 10px;
  border-radius: 25px;
  height: 14vh;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10%;
  background-color: #eeeeee7c; /* Light gray background */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* (P) Profile page */

.progress-bar {
  width: 333px;
  height: 74px;
  background-color: #EDF1D6;
  color: #163300;
  border: 1px solid #163300;
  font-weight: 600;
  border-radius: 18px;
  padding: 10px;
  margin: 15px auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-left-text {
  font-size: 12px;
  text-wrap: wrap;
  text-align: center;
  margin: 0 6px;
  width: 80px;
  height: 54px;
}

.progress-sum {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: -10px;
}

.progress-checkin-text {
  margin: 0;
}

.progress-bar::after {
  content: '100 Goal';
  text-align: center;
}

.profile-page-container {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.profile-top-half {
  background-color: #163300;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 160px;
  padding-top: 10px;
  left: 0;
  top: 0;
}

.profile-avatar {
  z-index: 1;
  margin-bottom: -30px;
}

.profile-bottom-half {
  margin-top: 70px;
}

.profile-award-container,
.profile-visited-container {
  width: 360px;
  text-align: left;
  padding-left: 20px;
  margin: -12px auto;
}

.profile-subtitle, .profile-subtitle-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.profile-subtitle-map {
  width: 360px;
}

.profile-subtitle p {
  font-weight: 200;
}

.profile-award-card {
  margin-top: -10px;
  display: flex;
  gap: 10px;
  height: 77px;
}

.profile-award-texts .profile-award-text-1 .profile-award-text-2 {
  margin: 0;
}

.profile-award-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 240px;
  height: 70px;
  border-bottom: 1px solid #ffffff;
}

.profile-award-text-1 {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.profile-award-text-1 h4, .profile-award-text-1 p {
  margin: 0;
}

.profile-award-text-1 p {
  width: 70px;
  font-weight: 200;
}

.profile-award-text-2 {
  margin: 0;
  width: 240px;
}

.profile-visited-scrollable {
  width: 300px;
  margin-left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
  white-space: nowrap;
}

.profile-visited-scrollable::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: None;
}

.profile-visited-scrollable {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.profile-visited-card {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.profile-visited-img {
  border-radius: 18px;
  margin-bottom: -17px;
  width: 140px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  background-color: #eeeeee7c; /* Light gray background */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile-visited-text {
  font-size: 16px;
  font-weight: 600;
  width: 140px;
  text-wrap: wrap;
}

.profile-been-to-button {
  position: relative;
  top: 20px;
  left: -30px;
  background-color: #BF1E2C;
  border-radius: 18px;
  border: none;
  color: #EDF1D6;
  cursor: pointer;
  width: 35px;
  height: 35px;
}


.profile-visited-map {
  width: 370px;
  margin: 0 auto
}

.profile-button {
  display: flex;
  align-items: center;
  background-color: #EDF1D6;
  color: #163300;
  padding: 0 12px;
  height: 26px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border-radius: 20px;
}

.profile-button:active {
  background-color: #163300;
  color: #9FE870;
  border: 1px solid #9FE870;
}

.profile-button:focus {
  outline: none;
}

/* (P) Footer page */

.footer-container {
  background-color: #163300;
  height: 7%;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-left: -8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.footer-icon {
  font-size: 1.8em;
  margin-bottom: -12px;  
}

.footer-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.footer-link {
  text-decoration: none;
  color: #F0F3F6;
  cursor: pointer;
  width: 100px;
  height: 100%;
  padding-top: 7px;
}

.footer-icon-text {
  font-size: 12px;
  font-weight: 600;
}

/* (P) Error page */

.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-top: 100px;
}

.notfound-emoji {
  display: flex;
  margin-right: 20px;
}

.notfound-message {
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  color: #515151;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.back-button {
  width: 240px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background-color: #BF1E2C;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 10px;
}

.back-button:hover {
  background-color: #BF1E2C;
}

/* (C) Award component */

.award-container {
  flex: 1 1 calc(33.333% - 16px); /* Subtract the gap size */
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
}

.award-emoji {
  width: 100px;
  height: 100px;
}

.award-name {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.award-title {
  color: #FFF;
  text-align: flex;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/* (P) Awards page */

  .awards-page {
    padding: 20px;
  }

  .awards-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .awards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: calc(100vh * 0.78);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .awards-container::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: None;
  }
  
  .awards-container {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
